.modal {
  display: none;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;

  h2 {
    color: white;
  }
}

.modal.open {
  display: block;
}

.modal-overlay {
  background-color: rgb(0 0 0 / 50%); /* Semi-transparent black overlay */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.workout-modal-content {
  align-content: center;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  height: 440px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 10000;

  h2 {
    font-size: 35px;
  }

  .modal-column {
    padding-top: 10px;
  }

  .modal-inputs {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-top: 10px;


    .modal-label {
      font-weight: bold;
    }
  }

  button {
    align-self: center;
    background: #3f76c0;
    border: none;
    border-radius: .625rem;
    color: white;
    cursor: pointer;
    height: 35px;
    margin-top: 10px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    width: 125px;

    &:hover {
      background-color: #355a8f; /* Example hover background color */
    }
  }
}

.close {
  color: #888;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 5px;
}

.close:hover {
  color: #000;
}