.signup-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #444;


  .signup-logo {
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 100px;

    .gym-icon {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
  }
  
  .signup-form-container {
    background-color: #222;
    width: 500px;
    height: 450px;
    border-radius: 8px;
    color: white;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
    align-items: center;
    align-content: center;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: white;
    }

    form {
      padding: 30px 100px 20px 100px;
      border-radius: 10px;


      .form-group {
        margin-bottom: 15px;


        label {
          display: block;
          margin-bottom: 5px;
          margin-top: 5px;
        }

        input {
          width: 100%;
          padding: 2px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }

      .inline {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .form-subgroup {
          flex: 1;

          label {
            display: block;
            margin-bottom: 5px;
          }

          select {
            width: 100%;
            height: 25px;
          }
        }
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: #3f76c0;
        color: white;
        border: none;
        border-radius: 3px;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #355a8f; /* Example hover background color */
        }
      }

    }

    .error-message {
      color: rgb(179, 64, 64);
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }
  }

}