.signup-form {
  align-items: center;
  background-color: #444;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;


  .signup-logo {
    align-items: center;
    color: white;
    display: flex;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;

    .gym-icon {
      height: 100px;
      margin-right: 10px;
      width: 100px;
    }
  }
  
  .signup-form-container {
    align-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    color: white;
    height: 450px;
    padding-bottom: 20px;
    text-align: center;
    width: 500px;

    h2 {
      color: white;
      margin-bottom: 10px;
    }

    form {
      border-radius: 10px;
      padding: 30px 100px 20px;


      .form-group {
        margin-bottom: 15px;


        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }

      .inline {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        .form-subgroup {
          flex: 1;

          label {
            display: block;
            margin-bottom: 5px;
          }

          select {
            height: 25px;
            width: 100%;
          }
        }
      }

      button {
        background-color: #3f76c0;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s;
        width: 100%;

        &:hover {
          background-color: #355a8f; /* Example hover background color */
        }
      }

    }

    .error-message {
      color: rgb(179 64 64);
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    a {
      color: white;
      font-size: 14px;
      text-decoration: none;
    }
  }

}