.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px); // Adjust width considering the sidebar width
  height: 100px; // Adjust height as needed
  background-color: #444; // Navbar background color
  color: #fff; // Text color
  padding: 0 20px; // Adjust padding as needed

  .dashTitle {
    text-align: left;
    margin-right: 20px; /* Adjust margin as needed */
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .profile {
    display: flex;
    align-items: center; /* Align items vertically */
    position: fixed;
    padding-top: 20px;
    top: 10px; // Adjust top position as needed
    right: 10px; // Adjust right position as needed
    color: #ffffff;
    cursor: pointer;

    img {
      width: 40px; // Adjust image width as needed
      height: 40px; // Adjust image height as needed
      margin-right: 10px;
      border-radius: 50%; // Make image round
    }
  }
}
