header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f76c0;
  padding: 20px;
}

h1 {
  color: white;
}

h1.home-title {
  color: black;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}