.profile-container {
  display: flex;
}

.main-content {
  flex-grow: 1; /* Allow main content to grow and fill remaining space */
  padding: 20px; /* Add padding to separate main content from sidebar */
  color: white;
}

.content {
  padding-left: 300px;
  padding-top: 100px ;

  .health-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.edit-health-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background:  #3f76c0;
  padding: 20px 18px;
  border-radius: .625rem;
  margin: 25px 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: background-color 0.3s;
  cursor: pointer;

  .font-w500 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background-color: #355a8f;
  }
}