// Health information widget styles
$border-radius: 10px;
$box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
$back-ground: #222;

.health-info-widget {
  //border: 1px solid #ccc;
  background-color: $back-ground;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 1rem;
  max-width: 600px;
  padding: 1rem;
  width: 100%;

  .health-info-section {
    h3 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      margin: 0.75rem 0;
    }
  }
}
