.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 300px; // Adjust width as needed
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.13); /* Light shadow */
  background-color: #222; // Sidebar background color
  color: #fff; // Text color

  .sidebar-logo {
    align-content: center;
    align-items: center; /* Align items vertically */


    .logo {
      align-items: center; /* Align items vertically */
      display: flex;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
      height: 100px;
      margin-left: 50px;


      .gym-icon {
        width: 50px; /* Adjust width as needed */
        height: 50px; /* Adjust height as needed */
        margin-right: 10px; /* Adjust margin as needed */
      }
    }
  }

  .sidebar-content {
    flex-grow: 1; /* Grow to fill the remaining space */
    position: relative;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */

    .side-menu {
      display: flex;
      flex-direction: column;
      padding-top: 30px;


      li {
        padding: 0 0 0 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        cursor: pointer;

        &:hover {
          background-color: #355a8f; /* Example hover background color */
        }
      }



      a {
        display: flex;
        align-items: center; /* Align items vertically */
        font-size: 16px;
        padding: 20px 20px;
        border-top-left-radius: .625rem;
        border-bottom-left-radius: .625rem;


        img {
          width: 25px; // Adjust image width as needed
          height: 25px; // Adjust image height as needed
          margin-right: 10px;
        }
      }
    }
  }

  .add-workout {
    background:  #3f76c0;
    padding: 20px 18px;
    align-self: center;
    border-radius: .625rem;
    margin: 50px 50px;
    cursor: pointer;

    .font-w500 {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: #355a8f; /* Example hover background color */
    }
  }

  .logout-button {
    margin-top: auto; /* Push the button to the bottom */
    width: 100%; /* Make the button full width */
    padding: 15px; /* Add padding for better appearance */
    background-color: #3f76c0; /* Example background color */
    color: white; /* Example text color */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer cursor on hover */

    &:hover {
      background-color: #355a8f; /* Example hover background color */
    }
  }
}


