.profile-container {
  display: flex;
  z-index: 1;
}

.main-content {
  color: white;
  flex-grow: 1; /* Allow main content to grow and fill remaining space */
  padding: 20px; /* Add padding to separate main content from sidebar */
}

.content {
  padding-left: 300px;
  padding-top: 100px;

  .health-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.edit-health-button {
  background:  #3f76c0;
  border-radius: .625rem;
  bottom: 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  cursor: pointer;
  margin: 25px 20px;
  padding: 20px 18px;
  position: fixed;
  right: 0;
  transition: background-color 0.3s;

  .font-w500 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  &:hover {
    background-color: #355a8f;
  }
}