.navbar { // Adjust width considering the sidebar width
  height: 100px; //Adjust height as needed
  background-color: #222; // Navbar background color
  color: #fff;// Text color
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 300px);
  z-index: 1; // Adjust padding as needed

  .dashTitle {
  font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px; /* Adjust margin as needed */
    padding: 30px;
    text-align: left;
  }

  .profile { // Adjust top position as needed
    right: 10px; // Adjust right position as needed
    color: #fff;
    align-items: center; /* Align items vertically */
    cursor: pointer;
    display: flex;
    padding-top: 20px;
    position: fixed;
    top: 10px;

    img {// Adjust image height as needed
      margin-right: 10px; // Make image round
      object-fit: cover; /* Ensures the image covers the circle nicely */
      height: 40px;
      border-radius: 50%;
      width: 40px;
    }
  }
}
