* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.dashboard-container {
  align-items: center; /* Vertically center items */
  position: relative;




  .dashboard-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 100px 20px;

    .week-widget {
      background-color: #222;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
      height: 75px;
      width: 300px;
      margin-left: 300px;
      margin-top: .5rem;
      padding: .5rem;
      align-content: center;
      align-items: center;
      text-align: center;
      color: white;
    }

    .visual-container {
      display: flex;
      gap: 20px;
      flex-direction: row;
      align-content: center;
      text-align: center;

      .visual-content {
        padding-left: 300px;

      }

      .minor-visual-content {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}





