// Health information widget styles
$border-radius: 10px;
$box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
$back-ground: #222;

.workout-history-widget {
  //border: 1px solid #ccc;
  background-color: $back-ground;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 1rem;
  max-width: 600px;
  padding: 1rem;
  width: 100%;

  .workout-section {
    text-align: center;

    h3 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    .workout-select {
      background: #222 none;
      border: none; /* Remove default border */
      border-bottom: 2px solid #3f76c0; /* Blue underline */
      color: white;
      font-size: 1.25rem;
      margin: 0.75rem 0;
      outline: none; /* Remove default focus outline */
      padding: 5px 0; /* Add some padding */
      width: 300px;
    }


    .workout-data {
      p {
        font-size: 1.25rem;
        margin: 0.75rem 0;
      }
    }
  }
}
