.login-form {
  align-items: center;
  background-color: #444;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  .login-logo {
    align-items: center; /* Align items vertically */
    color: white;
    display: flex;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;


    .gym-icon {
      height: 100px; /* Adjust height as needed */
      margin-right: 10px; /* Adjust margin as needed */
      width: 100px; /* Adjust width as needed */
    }
  }

  .login-form-container {
    align-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0 0 0 / 10%);
    color: white;
    height: 350px;
    padding-bottom: 20px;
    text-align: center;
    width: 500px;

    h2 {
      margin-bottom: 10px;
    }

    form {
      border-radius: 5px;
      padding: 30px 115px 20px;

      .form-group {
        margin-bottom: 20px;


        label {
          display: block;
          font-weight: bold;
          margin: 5px 0 10px;
        }
      }


      button {
        background-color: #3f76c0;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s;
        width: 100%;

        &:hover {
          background-color: #355a8f; /* Example hover background color */
        }
      }

    }

    .error-message {
      color: rgb(179 64 64);
      font-size: 12px;
      margin-bottom: 10px;
    }

    a {
      color: white;
      font-size: 14px;
      text-decoration: none;
    }

  }
}