.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #444;
}

input, select {
  border: none; /* Remove default border */
  border-bottom: 2px solid #3f76c0; /* Blue underline */
  background: #222;
  outline: none; /* Remove default focus outline */
  padding: 5px 0; /* Add some padding */
  width: 100%; /* Adjust width */
  color: white;
}

/* Change the underline color when the input is focused */
input:focus {
  border-bottom-color: #224773; /* Change the color when focused */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
